/*
    This contains the bare unclassed HTML elements
*/


label {
    color: $color-grey3;
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="button"],
input[type="radio"],
input[type="checkbox"],
{
    font-size: 16px;
    margin-bottom: 16px;
    height: 35px;
}

