/*
  Style for page at module level
*/

.m_fullwidth-banner {
  width: 100%;
}

.m_section1 {
  overflow: hidden;
}

.m_section1-imgleft {
  float: left;
}

.m_section1-content {
  float: right;
  width: 45%;
  margin: 0;
}
